@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$primary-font: 300 1em 'Lato', sans-serif;
$accent-font: 900 1em/0.75em 'Lato', sans-serif;

$primary-color: #03A9F4;
$text-color: #212121;
$secondary-text-color: #727272;
$dark-primary-color: #0288D1;
$light-primary-color: #B3E5FC;
$background-color: #ffffff;

html,
body {
  font: $primary-font;
  height: 100%;
  background-color: $background-color;
  color: $text-color;
  font-size: 1em;
  padding: 0;
  margin: 0;
  /* The html and body elements cannot have any padding or margin. */
}

#react-mount {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}



.container {
  -js-display: flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.container.vcard {
  min-height: 90vh;
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 1em;
  background-color: $background-color;
  color: $text-color;

  a {
    color: $dark-primary-color;
    text-decoration: none;
  }

  .headline {
    display: block;
    width: 100vw;
    font: $accent-font;
    font-size: 5em;
    padding: 1.5em 0 0 0.4em;
    background-color: $dark-primary-color;
    color: $light-primary-color;

    a { 
      color: $background-color;
      font: $accent-font;
    }
  }

  .introduction {
    margin: 0 0 1em 0;
    width: 60vw;
    font-size: 1.5em;
    padding: 2em 0 0 1.5em;

    @media all and (max-width: 400px) {
      width: 100vw;
    }
  }

  .list-of-links {
    margin: 0;
    width: 60vw;
    padding: 0.5em 0 0 2em;

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
      }
    }

    @media all and (max-width: 400px) {
      width: 100vw;

      ul {
        -js-display: flex;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        span {
          display: none
        }

        .fa {
          font-size: 1.5em;
        }

      }
    }
  }

}

footer.container {
  padding: 0 0 0 2em;
  height: 10vh;
  color: $secondary-text-color;

  a { 
    color: $primary-color; 
  }
}

.hidden { display: none }