html,
body {
  height: 100%;
  background-color: white;
  color: black;
  /* The html and body elements cannot have any padding or margin. */
}

#react-mount {
  -js-display: flex;
  display: flex;
}
