---
layout: default
title: Home
---

<ul class="unstyled post-list">
    {% for post in paginator.posts %}
        <li>
            <article class="post">
                {% if post.featured_picture %}
                <div class="item-pic">
                    <a href="{{ post.featured_picture }}" rel="prettyPhoto">
                        <img src="{{ post.featured_picture }}"{%if post.featured_picture_caption %} alt="{{post.featured_picture_caption}}"{% endif%}>
                        <span class="overlay"></span>
                        <span class="item-zoom"><i class="icon-plus"></i></span>
                    </a>
                </div>
                {% endif %}
                <ul class="unstyled inline post-meta">
                    <li class="post-title"><a href="{{ post.url }}">{{post.title}}</a></li>
                    <li>/</li>
                    <li><a href="{{ post.url }}">{{ post.date | date_to_string}}</a></li>
                    <li>/</li>
                    <li><a href="{{ post.url }}#disqus_thread">Comments</a></li>
                </ul>
                <!-- <span class="pull-right post-type print-btn"><i class="icon-file-alt"></i></span> -->
                <div class="clearfix"></div>

                <section class="post-body">
                    {{ post.content }}
                </section>
                <!-- <a href="{{ post.url }}" class="btn btn-small btn-success">Read more</a> -->
            </article><!--/.post -->
        </li> 
        {% unless forloop.last %}
        <hr class="custom-divider">
        {% endunless %}
    {% endfor %}           
</ul>

{% include index/pagination.html %}   