---
title: Home
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include index/meta.html %}
        
        <title>Britt Crawford: {{page.title}}</title>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/flatly.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/readable-ext.css">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/font-awesome.min.css">
        <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/font-awesome-ie7.min.css">
        <![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->   
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/ico/favicon.png">


        <link rel="canonical" href="{{site.url}}/{{page.url}}">        
        <link href="{{site.url}}/feed.xml" title="brittcrawford.com RSS Feed" type="application/atom+xml" rel="alternate">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top " role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><strong>Britt Crawford</strong></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active">
                          <a href="/" rel="home"><i class="icon-home"></i> Home</a>
                        </li>
                        <li>
                          <a href="http://illtemper.org/"><i class="icon-link"></i> Link Blog</a>
                        </li>
                        <!-- <li>
                          <a href="http://illtemper.org/books"><i class="icon-book"></i> Book Shelf</a>
                        </li> -->
                        <li>
                          <a href="mailto:me@brittcrawford.com"><i class="icon-envelope-alt"></i> Contact</a>
                        </li>
                        <li>
                          <a href="/feed.xml"><i class="icon-rss"></i> Subscribe</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
        <section class="social container subnav">
          <ul class="unstyled social-list">   
            <li>
              <a href="https://twitter.com/britt" data-toggle="tooltip" title="Twitter"><i class="icon-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/britt.crawford" data-toggle="tooltip" title="Facebook"><i class="icon-facebook"></i></a>
            </li>
            <li>
              <a href="http://www.linkedin.com/in/brittcrawford/" data-toggle="tooltip" title="LinkedIn"><i class="icon-linkedin"></i></a>
            </li> 
            <li>
              <a href="https://github.com/britt" data-toggle="tooltip" title="GitHub"><i class="icon-github-alt"></i></a>
            </li> 
            <li>
              <a href="http://www.flickr.com/photos/illtemper/" data-toggle="tooltip" title="Flickr"><i class="icon-camera"></i></a>
            </li>                                                         
          </ul>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span3 widget">
                        <h5>About Me</h5>
                        {% include bio.html %}
                        <ul class="vcard">
                            <li>
                                <span class="vcard-icon"><i class="icon-envelope"></i></span>                                                                       
                                <span class="vcard-text">
                                    <a href="mailto:me@brittcrawford.com" data-toggle="tooltip" title="send me an email">
                                        me@brittcrawford.com
                                    </a>
                                </span>
                            </li>
                        </ul>                           
                    </div><!--/ about us -->
                    <div class="span3 widget">
                        <h5>Recent Posts</h5>
                        <ul class="recent-posts">
                        {% for post in site.posts limit:5 %}
                            <li>    
                              <a href="{{post.url}}">
                                  <span class="post-title">{{post.title}}</span> 
                                  <span class="post-excerpt">
                                    {{post.content | strip_html | truncatewords: 25}}
                                  </span>
                                  <span class="post-date">{{post.date | date:"%B %d, %Y"}}</span>
                              </a>                                   
                            </li>
                        {% endfor %}
                        </ul>
                    </div><!--/ recent posts --> 
                    <div class="span3 widget">
                        <h5>Recent Tweets</h5>
                        <div class="tweet"></div>
                    </div><!--/ recent tweets -->                     
                    <div class="span3 widget">
                        <h5>Flickr Photos</h5>
                        <ul class="flickr"></ul>
                    </div><!--/ flickr photos -->                        
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="copyright">
                        <p>
                          <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
                            BrittCrawford.com
                          </span>
                          <span class="hidden" xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">
                            <a href="https://github.com/britt">britt</a>
                          </span> is licensed under a 
                          <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
                            Creative Commons Attribution-ShareAlike 3.0 Unported License
                          </a>
                        </p>
                    </div><!--/ copyright -->                                           
                </div>
            </div>
        </footer>

<script type="text/javascript" src="/assets/javascripts/jquery/jquery-1.9.0.js"></script>
<script type="text/javascript" src="/assets/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/assets/javascripts/jquery-tweet/jquery.tweet.js"></script>
<script type="text/javascript" src="/assets/javascripts/jquery-flickr/jflickrfeed.js"></script>
<script type="text/javascript" src="/assets/javascripts/bootstrap-carousel.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39393464-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
$(".tweet").tweet({
    join_text: "auto",
    username: "britt",
    avatar_size: 48,
    count: 3,
    auto_join_text_default: " we said, ",
    auto_join_text_ed: " we ",
    auto_join_text_ing: " we were ",
    auto_join_text_reply: " we replied ",
    auto_join_text_url: " we were checking out ",
    loading_text: "loading tweets...",
    template: '<div class="avatar-wrapper">{avatar}<a href="{user_url}"><span class="overlay"></span></a></div>{text}{time}'
});

$('.flickr').jflickrfeed({
    limit: 12,
    qstrings: {
        id: '89854093@N00'
    },
    itemTemplate:
    '<li>' +
        '<a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /><span class="overlay"></span></a>' +
    '</li>'
});

$('.socket').tooltip({
    selector: "a[data-toggle=tooltip]"
});

$('.footer').tooltip({
    selector: "a[data-toggle=tooltip]",
    placement: 'bottom'
});

$('section.social.subnav').tooltip({
    selector: "a[data-toggle=tooltip]",
    placement: 'bottom'
});
</script>

{% if site.enable_comments %}
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'brittcrawford'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>  
{% endif %}
    </body>
</html>