<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% javascript_asset_tag global %}
- /_assets/javascripts/jquery/jquery-1.9.0.js
- /_assets/javascripts/jquery/jquery-migrate-1.1.0.js
- /_assets/javascripts/bootstrap.js
- /_assets/javascripts/jquery-tweet/jquery.tweet.js
- /_assets/javascripts/jquery-flickr/jflickrfeed.js
- /_assets/javascripts/uitotop/easing.js
- /_assets/javascripts/uitotop/jquery.ui.totop.js
- /_assets/javascripts/prettyphoto/jquery.prettyPhoto.js
- /_assets/javascripts/holder/holder.js
- /_assets/javascripts/bootstrap-carousel.js
- /_assets/javascripts/fitvids/jquery.fitvids.js
- /_assets/javascripts/base.js
{% endjavascript_asset_tag %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39393464-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% if site.enable_comments %}
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'brittcrawford'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>  
{% endif %}