<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery/jquery-1.9.0.min.js"></script>
<script src="/js/jquery/jquery-migrate-1.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/carousel/jquery.carouFredSel-6.2.0-packed.js"></script>
<script src="/js/jquery-tweet/jquery.tweet.js"></script>
<script src="/js/jquery-flickr/jflickrfeed.js"></script>
<script src="/js/uitotop/easing.js"></script>
<script src="/js/uitotop/jquery.ui.totop.js"></script>        
<script src="/js/prettyphoto/jquery.prettyPhoto.js"></script>
<script src="/js/fitvids/jquery.fitvids.min.js"></script>        
<script src="/js/countdown/jquery.countdown.min.js"></script>
<script src="/js/holder/holder.js"></script>
<script src="/js/bootstrap-carousel.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/base.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39393464-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>