<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span3 widget">
                <h5>About Us</h5>
                <p>We say what we do, we do what we say, and we're looking forward to prove it to you.</p>
                <ul class="vcard">
                    <li>
                        <span class="vcard-icon"><i class="icon-home"></i></span>                                                                       
                        <span class="vcard-text">20/3 Babor Road, Mohammadpur, Dhaka - 1230</span>
                    </li>
                    <li>
                        <span class="vcard-icon"><i class="icon-phone"></i></span>                                                                       
                        <span class="vcard-text">(123) 456-7890</span>
                    </li>
                    <li>
                        <span class="vcard-icon"><i class="icon-envelope"></i></span>                                                                       
                        <span class="vcard-text">office@example.com</span>
                    </li>
                </ul>                           
            </div><!--/ about us -->
            <div class="span3 widget">
                <h5>Recent Posts</h5>
                <ul class="recent-posts">
                  <li>    
                        <a href="">
                            <div class="post-thumb">
                                <img src="/images/blog/img_1.jpg">
                                <span class="overlay"></span>
                            </div>
                            <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing.</span> 
                            <span class="post-date">17 February, 2013</span> 
                        </a>                                   
                    </li>
            <li>    
                        <a href="">
                            <div class="post-thumb">
                                <img src="/images/blog/img_2.jpg">
                                <span class="overlay"></span>
                            </div>
                            <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed.</span> 
                            <span class="post-date">16 February, 2013</span> 
                        </a>                                   
                    </li>
                    <li>    
                        <a href="">
                            <div class="post-thumb">
                                <img src="/images/blog/img_3.jpg">
                                <span class="overlay"></span>
                            </div>
                            <span class="post-title">Lorem ipsum dolor sit amet.</span> 
                            <span class="post-date">15 February, 2013</span>  
                        </a>                                   
                    </li>
          </ul>
            </div><!--/ recent posts --> 
            <div class="span3 widget">
                <h5>Recent Tweets</h5>
                <div class="tweet"></div>
            </div><!--/ recent tweets -->                     
            <div class="span3 widget">
                <h5>Flickr Photos</h5>
                <ul class="flickr"></ul>
            </div><!--/ flickr photos -->                        
        </div>
    </div>
</footer><!--/.footer -->