<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span3 widget">
                <h5>About Us</h5>
                <p>We say what we do, we do what we say, and we're looking forward to prove it to you.</p>
                <ul class="vcard">
                    <li>
                        <span class="vcard-icon"><i class="icon-home"></i></span>                                                                       
                        <span class="vcard-text">20/3 Babor Road, Mohammadpur, Dhaka - 1230</span>
                    </li>
                    <li>
                        <span class="vcard-icon"><i class="icon-phone"></i></span>                                                                       
                        <span class="vcard-text">(123) 456-7890</span>
                    </li>
                    <li>
                        <span class="vcard-icon"><i class="icon-envelope"></i></span>                                                                       
                        <span class="vcard-text">office@example.com</span>
                    </li>
                </ul>                           
            </div><!--/ about us -->
            <div class="span3 widget">
                <h5>Recent Posts</h5>
                <ul class="recent-posts">
                {% for post in site.posts limit:5 %}
                    <li>    
                      <a href="{{post.url}}">
                          <span class="post-title">{{post.title}}</span> 
                          <span class="post-excerpt">
                            {{post.content | strip_html | truncatewords: 25}}
                          </span>
                          <span class="post-date">{{post.date | date:"%B %d, %Y"}}</span>
                      </a>                                   
                    </li>
                {% endfor %}
                </ul>
            </div><!--/ recent posts --> 
            <div class="span3 widget">
                <h5>Recent Tweets</h5>
                <div class="tweet"></div>
            </div><!--/ recent tweets -->                     
            <div class="span3 widget">
                <h5>Flickr Photos</h5>
                <ul class="flickr"></ul>
            </div><!--/ flickr photos -->                        
        </div>
    </div>
</footer><!--/.footer -->