<div class="masthead">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <!-- Be sure to leave the brand out there if you want it shown -->
                <a class="brand" href="/" rel="home">Britt Crawford</a>
                
                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">
                    <!-- .nav, .navbar-search, .navbar-form, etc -->
                    <ul class="nav pull-right">
                        <li class="active">
                          <a href="/" rel="home"><i class="icon-home"></i> Home</a>
                        </li>
                        <li>
                          <a href="http://illtemper.org/"><i class="icon-link"></i> Link Blog</a>
                        </li>
                        <li>
                          <a href="http://illtemper.org/books"><i class="icon-book"></i> Book Shelf</a>
                        </li>
                        <li>
                          <a href="mailto:me@brittcrawford.com"><i class="icon-envelope-alt"></i> Contact</a>
                        </li>
                        <li>
                          <a href="/feed.xml"><i class="icon-rss"></i> Subscribe</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>   
</div><!--/.masthead -->