<div class="widget well">
  <h4 class="section-header"><span>//</span> Recent Posts</h4> 
  <ul class="recent-posts">
{% for post in site.posts limit:5 %}
    <li>    
      <a href="{{post.url}}">
          <span class="post-title">{{post.title}}</span> 
          <span class="post-excerpt">
            {{post.content | strip_html | truncatewords: 25}}
          </span>
          <span class="post-date">{{post.date | date:"%B %d, %Y"}}</span>
      </a>                                   
    </li>
{% endfor %}
  </ul>
</div>

