<div class="span4 sidebar">
    <div class="widget well">
        <h4 class="section-header"><span>//</span> Recent Posts</h4> 
        <ul class="recent-posts">
          <li>    
                <a href="">
                    <div class="post-thumb">
                        <img src="/images/blog/img_1.jpg">
                        <span class="overlay"></span>
                    </div>
                    <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing.</span> 
                    <span class="post-date">17 February, 2013</span>
                </a>                                   
            </li>
          <li>    
                <a href="">
                    <div class="post-thumb">
                        <img src="/images/blog/img_2.jpg">
                        <span class="overlay"></span>
                    </div>
                    <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed.</span> 
                    <span class="post-date">16 February, 2013</span> 
                </a>                                   
            </li>
            <li>    
                <a href="">
                    <div class="post-thumb">
                        <img src="/images/blog/img_3.jpg">
                        <span class="overlay"></span>
                    </div>
                    <span class="post-title">Lorem ipsum dolor sit amet.</span> 
                    <span class="post-date">15 February, 2013</span> 
                </a>                                   
            </li>
            <li>    
                <a href="">
                    <div class="post-thumb">
                        <img src="/images/blog/img_4.jpg">
                        <span class="overlay"></span>
                    </div>
                    <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> 
                    <span class="post-date">13 February, 2013</span> 
                </a>                                   
            </li>
            <li>    
                <a href="">
                    <div class="post-thumb">
                        <img src="/images/blog/img_5.jpg">
                        <span class="overlay"></span>
                    </div>
                    <span class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem.</span> 
                    <span class="post-date">12 February, 2013</span> 
                </a>                                   
            </li>
        </ul>
    </div>
    <div class="widget well">
        <h4 class="section-header"><span>//</span> Recent Tweets</h4>
         <div class="tweet"></div>
    </div>
    <div class="widget well">
        <h4 class="section-header"><span>//</span> Text Widget</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare sodales dolor id venenatis. Donec augue lacus, blandit ac laoreet rutrum, gravida at massa. Integer iaculis elementum tellus. In non dui in felis aliquam varius. Quisque nec justo quis urna mollis gravida. Mauris interdum, orci.</p>
    </div> 
    <div class="widget well">
        <h4 class="section-header"><span>//</span> Flickr Photos</h4>
        <ul class="flickr"></ul>     
    </div> 
</div><!--/.sidebar -->     