<section class="social container subnav">
  <ul class="social-list">   
    <li>
      <a href="https://twitter.com/britt" data-toggle="tooltip" title="Twitter"><i class="icon-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/britt.crawford" data-toggle="tooltip" title="Facebook"><i class="icon-facebook"></i></a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/brittcrawford/" data-toggle="tooltip" title="LinkedIn"><i class="icon-linkedin"></i></a>
    </li> 
    <li>
      <a href="https://github.com/britt" data-toggle="tooltip" title="GitHub"><i class="icon-github-alt"></i></a>
    </li> 
    <li>
      <a href="http://www.flickr.com/photos/illtemper/" data-toggle="tooltip" title="Flickr"><i class="icon-camera"></i></a>
    </li>                                                         
  </ul>
</section>