/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: white;
  color: black;
  /* The html and body elements cannot have any padding or margin. */
}

a, a:hover {
  color: black;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer {
  height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  padding: 4em 4em 0 4em;
}
footer .container {
  width: auto;
  padding: 0 4em 0 4em;
}
.container .text-muted {
  color: #999;
  margin: 20px 0;
}
.container .text-muted a {
  color: #999;
}

.introduction {
  max-width: 680px;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 1.1;
  font-weight: 200;
}

@media (min-width: 768px) {
  .introduction {
    font-size: 36px;
  }
}

.social-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2em;
}

.social-list li a span { 
  margin: 0 0.5em;
}

/*@media (max-width: 420px) {
  .introduction {
    font-size: 24px;
  }

  .social-list {
    font-size: 12px;
  }
}*/

