.social-list {
  margin: -11px 0 0 0;
  padding: 0;
}

.social-list li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
}

footer.footer {
  background-color: #eee;
}

ul.vcard {
  padding: 0;
}

ul.vcard li {
  list-style-type: none;
}

.socket {
  padding-top: 6px;
  color: white;
  background-color: #2c3e50;
}