{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul>
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li><a href="/">Previous</a></li>
        {% else %}
        <li><a href="/page{{paginator.previous_page}}">Previous</a></li>
        {% endif %}
        {% endif %}
        {% for count in (1..paginator.total_pages) %}
            <li{% if count == paginator.page %} class="active"{% endif %}>
            {% if count == 1 %}
                <a href="/">{{count}}</a>
            {% else %}
                <a href="/page{{count}}">{{count}}</a>
            {% endif %}
            </li>
        {% endfor %}
        {% if paginator.next_page %}
        <li><a href="/page{{paginator.next_page}}">Next</a></li>
        {% endif %}
    </ul>
</div><!--/.pagination -->
{% endif %}