<div class="span4 sidebar">
    <div class="widget well">
        <h4 class="section-header"><span>//</span> Me</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare sodales dolor id venenatis. Donec augue lacus, blandit ac laoreet rutrum, gravida at massa. Integer iaculis elementum tellus. In non dui in felis aliquam varius. Quisque nec justo quis urna mollis gravida. Mauris interdum, orci.</p>
    </div>

    {% include index/recent_posts.html %}
    
    <div class="widget well">
        <h4 class="section-header"><span>//</span> Recent Tweets</h4>
         <div class="tweet"></div>
    </div>
     
    <div class="widget well">
        <h4 class="section-header"><span>//</span> Flickr Photos</h4>
        <ul class="flickr"></ul>     
    </div> 
</div><!--/.sidebar -->     