#toTop:hover,
.masthead .dropdown-menu > li > a:hover, .masthead .dropdown-menu > li > a:focus, .masthead .dropdown-submenu:hover > a, .masthead .dropdown-submenu:focus > a,
.masthead .navbar-inner,
.masthead .dropdown-menu > .active > a,
.masthead.dropdown-menu > .active > a:hover,
.masthead .dropdown-menu > .active > a:focus,
.slider .carousel-control, .gallery .carousel-control,
.posts .carousel-control,
.services .well:hover,
.item-container:hover .item-content,
.item-pic .item-zoom,
.faqs .accordion-heading,
.countdown .content .well,
.prev1, .next1,
.socket,
.post-type,
.member-social ul > li a {
	background-color: rgb(254, 126, 23);
}

.services .well:hover,
.item-container:hover .item-content,
.post-meta,
.portfolio-filter {
    border-color: rgb(254, 126, 23);
}

.item-content a,
.footer a:hover,
.post .well,
.sidebar .widget a,
.pagination ul > li > a,
.pagination ul > li > span,
.post-meta,
.post h4 a:hover,
.post-meta a, .post h3 a:hover,
.section-header span,
.portfolio-filter a {
    color: rgb(254, 126, 23);    
}

.work-box .overlay, .tweet .overlay, .post-thumb .overlay, .flickr .overlay {
    background-color: rgba(254, 126, 23, 0.7);
}

.super-page-header {
    background-image: url(../images/bg/bg9.png);
}