<!DOCTYPE html>
<html lang="en">
    <head>
        {% include site_meta.html %}

        <title>Britt Crawford{% unless page.title == 'Home' %}: {{page.title}}{% endunless %}</title>
        
        {% include styles.html %}

        <link rel="canonical" href="{{site.url}}">
        <link href="{{site.url}}/feed.xml" title="brittcrawford.com RSS Feed" type="application/atom+xml" rel="alternate">
    </head>
    <body>
        <div class="wrapper">
            {% include masthead.html %}
            {% include social_subnav.html %}
            
            <section class="welcome container">
                <div class="content">
                    {% unless page.welcome_message == '' %}
                      <h3>{{ page.welcome_message }}</h3> 
                    {% endunless %}
                    {% unless page.welcome_text == '' %}
                      <p>{{ page.welcome_text }}</p> 
                    {% endunless %}
                </div>
            </section><!--/.welcome -->

            <section class="blog container">
                <div class="row">
                    <div class="span8">
                        {{ content }}
                    </div>
                    {% include sidebar.html %}       
                </div>
            </section><!--/.blog -->         

            {% include footer.html %}       
            {% include bottom_stripe.html %}
        </div><!--/.wrapper --> 
        
        {% include base_javascript.html %}
    </body>
</html>