<!DOCTYPE html>
<html lang="en">
    <head>
        {% include site_meta.html %}
        
        <title>Britt Crawford: {{page.title}}</title>
        
        {% include styles.html %}

        <link rel="canonical" href="{{site.url}}/{{page.url}}">        
        <link href="{{site.url}}/feed.xml" title="brittcrawford.com RSS Feed" type="application/atom+xml" rel="alternate">
    </head>
    <body>
        <div class="wrapper">
            {% include masthead.html %}

            <section class="super-page-header">
                <div class="container">
                    <h1><span>{{page.title}}</span></h1> 
                </div>
            </section>

            <section class="post-item container">
                <div class="row">
                    <div class="span12">
                        <article class="post">
                            {%if page.featured_picture %}
                            {% include featured_picture.html %}
                            {% endif %}
                            {% include post_meta.html %}
                            {{ content }}
                        </article>
                    </div>   
                </div>
            </section>       

            {% include footer.html %}
            {% include bottom_stripe.html %}
        </div><!--/.wrapper --> 
        
        {% include base_javascript.html %}
    </body>
</html>