<!DOCTYPE html>
<html lang="en">
    <head>
        {% include index/meta.html %}
        
        <title>Britt Crawford: {{page.title}}</title>
        
        {% include styles.html %}

        <link rel="canonical" href="{{site.url}}/{{page.url}}">        
        <link href="{{site.url}}/feed.xml" title="brittcrawford.com RSS Feed" type="application/atom+xml" rel="alternate">
    </head>
    <body>
        <div class="wrapper">
            {% include masthead.html %}

            <section class="super-page-header">
                <div class="container">
                    <h1><span>{{page.title}}</span></h1> 
                </div>
            </section>

            <section class="post-item">
                <article class="post container">
                    {%if page.featured_picture %}
                    {% include post/featured_picture.html %}
                    {% endif %}
                    {% include post/meta.html %}
                    <div class="post-body">
                        {{ content }}
                    </div>
                </article>
                {% if site.enable_comments %}
                {% include post/disqus.html %}
                {% endif %}
            </section>       

            {% include footer.html %}
            {% include bottom_stripe.html %}
        </div><!--/.wrapper --> 
        
        {% include base_javascript.html %}
    </body>
</html>